include ../../_config.jade


+subheader('Gabinete')
section.gabinete
  //.container: .c6.o3: +moduloGabinete
  .container
    .c4.ct6.cm6.g(ng-repeat="item in gabinete | orderBy: 'id'"): +moduloGabinete
