include ../../_config.jade

+subheader('Mensaje del Presidente')
.container.mensaje
  .c4.g.ct12.cm12: .presidente
  .c8.ct12.cm10.om1.g
    p: strong CIUDADANAS Y CIUDADANOS:
    p Me dirijo a ustedes con el orgullo de representar  el interés de todos y encaminar a nuestra gran ciudad hacia el horizonte de la modernidad. 
    p De la mano de todos y basado en los principios de un Gobierno Humanista, Incluyente, con Equidad de Género y ciudadano lograremos el BIEN COMÚN de cada familia de Nuevo Laredo.
    p Implementando Acciones de Modernidad que mejoren el entorno socio educativo, el deporte, la economía sustentable,  la seguridad para todos  y que impulsen el desarrollo urbano, lograremos buenos resultados. 
    p Porque trabajar por nuestra ciudad es trabajar por nuestros hijos. Junto al gobernador Francisco García Cabeza de Vaca, haremos de Nuevo Laredo, una Ciudad Moderna.
    blockquote: p Tanta sociedad como sea posible y Tanto gobierno como sea necesario.
    br
    .tac
      p
        strong ENRIQUE RIVAS CUÉLLAR
        br
        strong: small PRESIDENTE MUNICIPAL
        br
        | 2016-2018
