include ../../_config.jade

.container.nota
    .c9.cm12.g
      img(ng-src="{{ #{item_img} }}", alt="").fluid
      +subheader('{{'+ item_titulo+'}}')
      
      .container: .c: div(ng-bind-html="#{item_contenido}")
      +metainfo
      
    aside.c3.cm12.g
      .container.notenav
        .c.tac
          a(ui-sref="nota({id:(item.id*1)-1})" title="Artículo anterior").tooltip.button: i.fa.fa-chevron-left
          |  
          a(ui-sref="nota({id:(item.id*1)+1})" title="Artículo siguiente").tooltip.button: i.fa.fa-chevron-right
      h2 Artículos recientes
      ul
          li(ng-repeat="item in prensa | limitTo:18"): a(ui-sref="nota({id:#{item_id}})")
            i.fa.fa-file-o
            |  {{ #{item_titulo} }}
      //h2 Categorías
      //ul
        - for(var i=0;i<4;i++)
          li: a(href="#")
            i.fa.fa-caret-right
            |  Categorías
