- // Dragon Webeloper 4
- // _config.jade | 0.1

include dw4/_dw4.jade

- // CSS ################################################################################
- css('https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/3.2.0/sanitize.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
- css('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css')
- css('https://fonts.googleapis.com/css?family=Roboto+Slab')


- css('app/app.css')

- // JS ################################################################################


- js('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
- js('https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/js/buttons.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.5/angular-slick.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.3/angular-google-maps.js')
- js('https://cdn.rawgit.com/rprovost/ng-backstretch/master/dist/ng-backstretch.min.js')
- js('https://cdn.rawgit.com/novayagazeta-app/angular-swipebox/master/dist/angular-swipebox.min.js')
- js('https://cdn.rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.light.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/sticky.min.js')


- js('app/app.js')

- // MENU ################################################################################
- menu('<img src="app/img/nuevolaredo.png", alt="Gobierno de Nuevo Laredo" class="fluid" />', 'index.html', null, {"class":"logo-inside"})
- menu('Inicio', 'index.html')
- menu('Cultura y turismo', 'cultura-y-turismo.html')
- menu('Trámites y servicios <i class="fa fa-angle-down"></i>', '#tramites-y-servicios')
- menu('Pago de predial', 'pago-de-predial.html', '#tramites-y-servicios')
- menu('Obras públicas', 'http://nuevolaredo.gob.mx/obrasweb/', '#tramites-y-servicios', {'target':'_blank'})
- menu('Servicios públicos', 'http://nuevolaredo.gob.mx/servweb/', '#tramites-y-servicios', {'target':'_blank'})
- menu('Transparencia', 'http://nld.gob.mx/index.php?m=transparencia&tipo=oficios', null, {'target':'_blank'})
- menu('Acércate <i class="fa fa-angle-down"></i>', '#acercate')
- menu('Gabinete', 'gabinete.html', '#acercate')
- menu('Directorio', 'directorio.html', '#acercate')
- menu('Centro integral de Atención a Ciudadanos', 'http://nuevolaredo.gob.mx/ciac-admin/', '#acercate', {'target':'_blank'})
- menu('Sala de prensa', 'sala-de-prensa.html')




mixin topbar
  .topbar
    .container
      .c6.ct12.cm12
        .container.tac
          .c.cm12.telefono
            i.fa.fa-phone
            span  01-800-987-654
          a.c.cm12(href="mailto:admin@nuevolaredo.gob.mx")
            i.fa.fa-envelope
            span  admin@nuevolaredo.gob.mx
          a.c.cm12(href="#")
            i.fa.fa-user
            span  Iniciar sesión
      .c6.ct12.cm12.redes.tar
        .container
          .c
            a(href="http://twitter.com"): i.fa.fa-twitter
            a(href="http://facebook.com"): i.fa.fa-facebook
            a(href="http://youtube.com"): i.fa.fa-youtube
            a(href="http://instagram.com"): i.fa.fa-instagram
          //.c.search
            label.fa.fa-search
            input(type="search")

mixin header
  header
    .container: .c.tac.logo: a(href="index.html"): img(src="app/img/nuevolaredo.png", alt="Gobierno de Nuevo Laredo")
    .masmodernidad: img(src="app/img/masmodernidad.png", alt="Más modernidad")
    +menu
    .menuBtn: i.fa.fa-bars
    
mixin subheader(title)
  .subheader
    h1 #{title}
    
mixin metainfo
  .metainfo
    .container
      .c
        i.fa.fa-calendar-o
        |  Noviembre 25, 2005
      .c
        i.fa.fa-folder-o
        |  Noticia
      .c
        i.fa.fa-user
        |  Autor
      .c
        +socialshare

mixin socialshare
  .container.tac
    .c: .fb-share-button
    .c: a.twitter-share-button(href="https://twitter.com/intent/tweet")

mixin footer
  +accesos
  footer
    .container
      .c4.ct12.cm12.g
        h2 Próximos eventos
        ul.proximos-eventos.container
          div(ng-repeat="item in eventos")
            li.c12.ct6.cm12
              a(ng-href="{{item.gsx$img.$t}}" ng-attr-title="<h2>{{item.gsx$titulo.$t}}</h2>{{item.gsx$contenido.$t}}").container.ng-box
                .c3.g: .img(ng-style="{ 'background-image':'url('+item.gsx$img.$t+')' }")
                .c8.g
                  p {{item.gsx$titulo.$t}}
              
      .c4.ct6.cm12.g.sobre
        h2 Sobre tu gobierno
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque accusantium, dolore impedit magnam repellendus repudiandae eius blanditiis iure molestiae sequi officia, soluta, commodi repellat? Ad voluptates minima cumque eius vitae.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque tenetur, nobis veritatis nostrum possimus, distinctio, dolor iusto natus architecto ea dignissimos fugiat qui rem eligendi labore id sunt minus est!
          
      .c4.ct6.cm12.g
        h2 Síguenos en Facebook
        .tac
          | <div class="fb-page" data-href="https://www.facebook.com/gobiernodenuevolaredo/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
  
    .end
      .container.middle
        .c6.cm12.g.tac
          .footer-logo: a(href="index.html"): img(src="app/img/nuevolaredo.png", alt="Gobierno de Nuevo Laredo")
          p Todos lo Derechos Reservados. 2016
        .c6.cm12.g.tar
          .container.tal
            .c6.g.first: +menu
            .c6.g.second: +menu


mixin moduloNota
  a(href="nota.html").moduloNota.container.fluid
    .c12.img(ng-style="{ 'background-image':'url('+item.img+')' }")
    .c12.g: .title {{item.titulo}}
    .c12.g: .date
      i.fa.fa-calendar-o
      |  {{ item.fecha }}
    .c12.g: p.description 
      | {{item.contenido | htmlToPlaintext | limitTo:90}}
      | ...
mixin moduloGabinete
  .moduloGabinete.container.fluid
    a.c12.img(href="nota.html" ng-style="{ 'background-image':'url('+item.gsx$img.$t+')' }")
      .hover.container.middle.center
        .c
          .name {{item.gsx$nombre.$t}}
          .job-title {{item.gsx$titulo.$t}}
    a(href="nota.html").c10.cm12.g
      .title {{item.gsx$nombre.$t}}
      p.description 
        | {{item.gsx$contenido.$t | htmlToPlaintext | limitTo:90}}
        | ...
    .c2.cm12.g.social.tac
      a(ng-href="{{item.gsx$twitter.$t}}" ng-if="item.gsx$twitter.$t"): i.fa.fa-twitter
      a(ng-href="{{item.gsx$facebook.$t}}" ng-if="item.gsx$facebook.$t"): i.fa.fa-facebook
      a(ng-href="{{item.gsx$linkedin.$t}}" ng-if="item.gsx$linkedin.$t"): i.fa.fa-linkedin
      a(ng-href="{{item.gsx$instagram.$t}}" ng-if="item.gsx$instagram.$t"): i.fa.fa-instagram

mixin moduloDirectorio
  .moduloDirectorio.container.fluid
    .c
      .what {{item.nombre}}
      .mail: a(ng-href="mailto:{{item.gsx$correo.$t}}")
        i.fa.fa-envelope-o
        |  {{item.gsx$correo.$t}}
      .phone
        i.fa.fa-phone
        |  {{item.gsx$telefono.$t}}
      .addr
        i.fa.fa-map-marker
        |  <strong>{{item.gsx$direccion1.$t}}</strong>
        br
        | {{item.gsx$direccion2.$t}}

mixin accesos
  .accesos-directos
    .telefonos
      input(type="checkbox").nom.nod.not#check-telefonos
      label.fa.fa-phone(for="check-telefonos")
      ul
        li: a(href="tel:066")
          .sub Emergencias y Protección Civil
          .tit Tel: 066
        li: a(href="tel:070")
          .sub Centro Integral de Atención Ciudadana
          .tit Tel: 070
    .webs
      input(type="checkbox").nom.nod.not#check-webs
      label.fa.fa-share-square-o(for="check-webs")
      ul
        li: a(href="gabinete.html")
          .sub Gabinete
          .tit Funcionarios municipales
        li: a(href="directorio.html")
          .sub Directorio
          .tit Dependencias municipales
        li: a(href="http://nuevolaredo.gob.mx/ciac-admin/" target="_blank")
          .sub CIAC
          .tit Centro Integral de Atención Ciudadana
        li: a(href="http://difnuevolaredo.gob.mx/" target="blank")
          .sub DIF
          .tit Nuevo Laredo
