include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    div(ng-controller="MainCtrl")
      +subheader('Centro Integral de Atención a Ciudadanos')
      section.buzon(ng-controler="FormCtrl")
        form(ng-submit="submitForm($event)").container
          .c6.o3
            .container
              .c.g: input(type="text", placeholder="Nombre" name="Nombre" required)
              .c.g: input(type="text", placeholder="Apellido" name="Apellido" required)
            .container
              .c.g: input(type="mail", placeholder="Correo electrónico" name="Correo" required)
              .c.g: input(type="text", placeholder="Teléfono" name="Telefono" required)
            .container
              .c.g: input(type="text" placeholder="Asunto" name="Asunto" required)
              .c.g: textarea( placeholder="Mensaje" name="Mensaje" required)
            .container
              .c6.o6.g.tar: button(type="submit").button.button-border  Enviar mensaje
      
      +footer
        
    +scripts
    
