include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    +subheader('Cultura y Turísmo')
    
    section.cultura
      .container: .c12: +moduloNota
      .container
        .c12
          slick(slides-to-show="3" autoplay="true" responsive="[{breakpoint:720,settings:{slidesToShow:1}}]")#noticiasslider
            - for(var i = 0; i<4; i++ )
              div
                +moduloNota
    
    
    +footer
        
    +scripts
    
