include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    div(ng-controller="MainCtrl")
      +subheader('Directorio')
      
      section.directorio

        .container
          .c4.ct6.cm10.om1.g(ng-repeat="item in directorio"): +moduloDirectorio
      
      +footer
          
    +scripts
    
