include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    div(ng-controller="MainCtrl")
      +subheader('Gabinete')
      section.gabinete
        //.container: .c6.o3: +moduloGabinete
        .container
          .c4.cm6.g(ng-repeat="item in gabinete"): +moduloGabinete
      
      
      
      +footer
        
    +scripts
    
