include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    
    .container.nota
        .c9.cm12.g
          img(src="http://loremflickr.com/800/600", alt="").fluid
          +subheader('Título de la nota')
          
          .container: .c
            p: strong Subtítulo de la nota
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium distinctio at, officia reprehenderit ad quidem veritatis ullam nemo et! Cupiditate dolores totam voluptatibus maiores possimus alias enim itaque, libero recusandae.
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate hic ut expedita consectetur dolores deleniti recusandae incidunt quis vitae minus, a iure unde corporis eligendi inventore. Aliquid, accusamus, optio?
            p: strong Subtítulo de la nota
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          +metainfo
        aside.c3.cm12.g
          h2 Artículos recientes
          ul
            - for(var i=0;i<4;i++)
              li: a(href="#")
                i.fa.fa-file-o
                |  Exportan arte realizado con tambos y cubetas de lámina
          h2 Categorías
          ul
            - for(var i=0;i<4;i++)
              li: a(href="#")
                i.fa.fa-caret-right
                |  Categorías

    
    
    +footer
        
    +scripts
    
