include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    div(ng-controller="MainCtrl")
      +subheader('Pago de predial')
      .container: .c6.o3.proximamente
        h2 PRÓXIMAMENTE
      
      +footer
    +scripts
    
