include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    
    section.cultura
      .proximamente REGISTRO CIVIL<BR>PRÓXIMAMENTE
    
    
    +footer
        
    +scripts
    
