include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    #fb-root
    
    +topbar
    +header
    
    +subheader('Sala de prensa')
    
    section.prensa
      .container
          .c9.g
            .container
              - for(var i=0;i<6;i++)
                .c6.g: +moduloNota
      
          aside.c3.g
            h2 Artículos recientes
            ul
              - for(var i=0;i<4;i++)
                li: a(href="#")
                  i.fa.fa-file-o
                  |  Exportan arte realizado con tambos y cubetas de lámina
            h2 Categorías
            ul
              - for(var i=0;i<4;i++)
                li: a(href="#")
                  i.fa.fa-caret-right
                  |  Categorías
        
    
    +footer
        
    +scripts
    
