include _config.jade

+html5
  +head('Gobierno de Nuevo Laredo', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4", ng-cloak)
    #fb-root
    
    +topbar
    +header
    div(ng-controller="MainCtrl")
      +subheader('Sala de prensa')
      
      section.prensa
        .container
            .c9.cm12.g
              .container
                  .c6.ct12.cm12.g(ng-repeat="item in prensa"): +moduloNota
              .container
                  .c6.ct12.cm12.g(ng-repeat="item in noticias"): +moduloNota
        
            aside.c3.cm12.g
              h2 Artículos recientes
              ul
                  li(ng-repeat="item in prensa"): a(href="#")
                    i.fa.fa-file-o
                    |  {{item.titulo}}
              h2 Categorías
              ul
                - for(var i=0;i<4;i++)
                  li: a(href="#")
                    i.fa.fa-caret-right
                    |  Categorías
          
      
      +footer
        
    +scripts
    
